@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');


.playwrite {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
  .sigmar-regular{
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
  .moon-dance-regular {
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }